/*About Section*/
.aboutme_text {
    font-size: smaller;
    line-height: 22px !important;
    text-indent: 50px;
}

.aboutme_text > a {
    color: #787878;
}

/*Timeline Section*/
.resume_timeline .timeline_title {
    font-weight: 500 !important;
    white-space: pre-line;
}

.resume_timeline .timeline_date {
    color:darkslategrey;

}

.resume_timeline .timeline_description {
    color: #787878;
    font-size: small;
    margin-top: 8px;
    white-space: pre-line;
}
